@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  background-color: #1E1E1E;
  color: #FFFFFF;
  font-family: 'Outfit', sans-serif;
}

.heads{
  text-align: center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  color: white;
  background-color: #292929;
  width: 95%; /* Almost Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 15px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
input[type=password], select, textarea {
  color: white;
  background-color: #292929;
  width: 95%; /* Almost Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 15px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #7F39FB;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
  text-align: center;
}

/* Style the background and placement of the form for student login */
.fill{
  background-color: #121212;
  border: none;
  /*border-radius: 10px; */
  width: 98%;
  padding: 1px 5px 15px 10px;
  /*text-align: center;*/
}


/* When moving the mouse over the submit button, add a different */

input[type=submit]:hover {
  background-color: #D500E8;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #D500E8;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #7F39FB;
  color: white;
}


#shadowBox {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.2);
    /* Black w/opacity/see-through */
    border: 3px solid;
}

.rainbow {
    text-align: center;
    text-decoration: underline;
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 5px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}


.gradient{
   background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    font-size: 35px;
    text-align: center;
    background-size: 400% 100%;
    background-color: #121212;
}

@keyframes rainbow_animation{
  0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.shine {
        position: relative;
        font-family: Geneva, sans-serif;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 2px;
        background: linear-gradient(90deg, #DC143C, #fff, #000);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 4s infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
        0% {
          background-position: -500%;
        }
        100% {
          background-position: 500%;
        }
}

footer {
  grid-area: footer;
  background: #333;
  color: white;
  border: solid 2px black;
 /* border-radius: 10px;*/
  width: 98%;
  padding: 1px 5px 15px 10px;
}

footer p {
  text-align: center;
  font-size: 12px;
}

footer a:link {
  color: white;
}

footer a:hover{
  color: #D500E8
}

footer a:visited{
  color: white;
}

.border{
  border-radius: 10px;
}