<title>About - Virtual Hall Pass</title>
{% extends "layout.html"%}
{% block content%}
<h1 class="heads">
  <br>Who are we?<br>
</h1>
<p class="body_text">
  We are Walnut Hills Programming Club and we meet every Tuesday in the Computer Lab from 3-4 PM. We collaborate on various projects, develop our skills, and work as a team to instill computer science values within our <a href = "http://www.walnuthillseagles.com/#gsc.tab=0" target="_blank">school</a>. This website is currently being developed by the WHHS programming club team. To learn more about the programming club visit our website <a href = "http://whhsprogrammingclub.com/" target = "_blank">here</a>. 
  <center>
  <br><br><div class="rainbow rainbow_text_animated">Designs by the epic Design team.</div>
  <br><br><div class="shine">Inner workings by Development team.</div>
  </center>
</p>

<footer>
    <p class="links">
      <a href = "https://www.whhsprogrammingclub.com" target="_blank">WHHS Programming Club 22-23</a><br>
      <a href= "/"> Virtual Hall Pass App</a><br>
      <a href="/admin">Admin</a> | <a href="/about">About</a> | <a href="/feedback">Report Issue</a>
    </p>
</footer>
{% endblock%}
