<title>Teacher Login - Virtual Hall Pass</title>
{% extends "layout.html"%}
{% block content%}
    <h1 class="heads">Virtual Hall Pass App</h1>
    <h3 class="heads">Teacher Login</h3>

<footer>
    <p class="links">
      <a href = "https://www.whhsprogrammingclub.com" target="_blank">WHHS Programming Club 22-23</a><br>
      <a href= "/"> Virtual Hall Pass App</a><br>
      <a href="/admin">Admin</a> | <a href="/about">About</a> | <a href="/feedback">Report Issue</a>
    </p>
</footer>
{% endblock%}