<!doctype html>
<title>Dashboard - Virtual Hall Pass</title>
{% extends "layout.html"%}
{% block head%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.15.2/js/selectize.min.js">  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />
{% endblock%}
{% block content%}

  <form action = "#" method = "post">
    <br>
    <label for="room">Room Number Leaving</label>
    <select id="number" name="room_number" placeholder="room">
      <option value="1001">1001</option>
      <option value="1002">1002</option>
      <option value="1003">1003</option>
    </select>
    <br>
    <label for="goingTo">Going To</label>
    <select id="to" name="destination">
      <option value="Bathroom">Bathroom</option>
      <option value="Nurse">Nurse</option>
      <option value="Locker">Locker</option>
    </select>
    <br>
  <label for="reason">Reason (optional)</label>
  <textarea id="reason" name="reason" placeholder="Write a reason..." style="height:100px, width:100px"></textarea>
    <input type="submit" value="Submit">
  </form>

<footer>
    <p class="links">
      <a href = "https://www.whhsprogrammingclub.com" target="_blank">WHHS Programming Club 22-23</a><br>
      <a href= "/"> Virtual Hall Pass App</a><br>
      <a href="/admin">Admin</a> | <a href="/about">About</a> | <a href="/feedback">Report Issue</a>
    </p>
</footer>
  
<script>  
  //allows people to type in dropdown boxes
  $(document).ready(function () {
      $('select').selectize({
          sortField: 'text'
      });
  });
</script>
{% endblock%}