<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="{{ url_for('static', filename='warn.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>  
    <script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/>
  </head>
  
  <body>
    <div class="topnav">
      <a class="active" href="index.html">Home</a>
      <a href="admin.html">Admin</a>
      <a href="about.html">About</a>
      <a href="ReportIssue.html">Contact</a>
    </div>
    
    <h1 class="heads">Virtual Hall Pass App</h1>
    
    <form class = "fill" action="#" method = "post">

    <h2>Student Login</h2>
      
    <label for="uname">Username</label>
    <input type="text" id="uname" name="username" placeholder="Your PowerSchool username..." required>

    <label for="pword">Password</label>
    <input type="password" id="pword" name="password" placeholder="Your password..." required>

    <input type="submit" value="Submit">
    </form>
  </body>

  <footer>
    <p>
      <a href = "whhsprogrammingclub.com">WHHS Programming Club 22-23</a><br>
      <a href= "index.html"> Virtual Hall Pass App</a><br>
      <a href="about.html">Admin</a> | <a href = "about.html">About</a> | <a href = "ReportIssue.html">Report Issue</a>
    </p>
  </footer>
</html>