<html>
  <title>Feedback - Virtual Hall Pass</title>
  <div class="topnav">
      <a class="active" href="https://virtual-hall-pass.owenturnbull.repl.co/">Login</a>
      <a href="/admin">Admin</a>
      <a href="/loginAbout">About</a>
      <a href="/loginFeedback">CONTACT</a>
  </div>
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css')}}"/><br><br>
  <h1 class="heads"> Submit Feedback Here!</h1>
  <br><br><br>
  <form action="/issue" method = "post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" placeholder="Type your name..." required><br><br><br>
    <label for="issue">Feedback:</label>
      <input type="text" id="issue" name="issue" placeholder="Type feedback..." required><br><br>
    <input type="submit">
  </form>
  <footer>
    <p class="links">
      <a href = "https://www.whhsprogrammingclub.com" target="_blank">WHHS Programming Club 22-23</a><br>
      <a href= "/"> Virtual Hall Pass App</a><br>
      <a href="/admin">Admin</a> | <a href=" /loginAbout">About</a> | <a href="/loginFeedback">Report Issue</a>
    </p>
  </footer>
</html>